*{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 1.4rem;
    --red:red;
    --blue:blue;
    --redShadow: rgba(255, 0, 0, 0.5);
}

body{
    background-color: gray;
}

/* SECTION 1 */
/* section of the title */
#secao1{
    background-color: yellow;
    border: solid white 5px;
}

#titulo{
    text-shadow: var(--redShadow) 0px 0px 10px;
    color: var(--red);
    font-size: 30px;
    text-align: center;
}

/* SECTION 2 */
/* section info */
#secao2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    border: solid white 5px;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
}

/* First On Grid */
#yourCards{
    border-bottom-right-radius: 10px;
    background-color: red;
    border: solid black;
}

/* title */
div#yourCards p{
    text-align: center;
}


/* image and caracteristics */
.imageCaracteristics{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* your image */
div#yourCards img{
    height: 80px;
}

/* div caracteristic */
div#imagem p{
    text-align: left;
}

/* second div on info section */
#centralInfo{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(50px, auto);
    gap: 0px;
    text-align: center;
}

#nicknames{
    background-color: white;
    border: solid black;
    border-left: none;
    border-right: none;
}

#nicknames, #points{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Third div on second section */
#enemyCards{
    border-bottom-left-radius: 10px;
    background-color: red;
    border: solid black;
}

/* title */
div#enemyCards p{
    text-align: center;
}

/* enemy image */
div#enemyCards img{
    height: 80px;
}

/* SECTION 3 */
#section3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    border: solid white 5px;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
}

#section3 div{
    display: flex;
    justify-content: center;
    padding: 5px;
}

#section3 div button{
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
    transition: 0.5s;
}

#section3 div button:hover{
    color: white;
    background-color: black;
}

#time{
    grid-column-start: 2;
    grid-column-end: 3;
    color: greenyellow;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
}